h1{
  margin:0;
  text-align:center;
  font-size:64px;
}
#pRow1{
  width:100vw;
  height:30vh;
}

#pRow2{
  width:100vw;
  height:70vh;
}

#pCol1{
 
}

#pCol2{

}

.colForm{
  background:white;
  border:1px black solid;
  border-radius: 5px;
  padding:10px;
}

.fGroupT{
  text-align:center;
  font-size:24px;
}